MTP_PROXY_URLS=https://t.me/proxy?server=akenai.tg&port=853&secret=ee54ce330e4690cc297d2b031ff3f288b06d742e616b656e61692e636c69636b;https://t.me/proxy?server=31.220.76.155&port=443&secret=7ueHXCS4vPe1fkjVVBd3bWdjbG91ZGZsYXJlLmNvbQ;https://t.me/proxy?server=mtp.prxy.rulezzz.ru&port=2443&secret=40bc50fa2da8774a8eeba91273cad363;


# Использует первый попавшийся, на четвертую ошибку меняет на следующий прокси
