# Главные рабочие инструменты
litellm==1.93.0
aiogram==3.26.0
telethon==1.42.0

# Работа с базой данных PostgreSQL
asyncpg==0.29.0
psycopg2-binary==2.9.9

# Окружение и сеть
python-dotenv==1.1.1
aiohttp-socks==0.8.4

# Парсинг (если используешь напрямую в коде)
lxml==5.3.0
numpy==2.5.1

# Звук
cffi==2.1.0
pycparser==3.0
soundfile==0.14.0

# В ручную:
# uv pip install kairos-asr[gpu]
# pip install sentence-transformers


# Везде добавляю uv
# uv pip install -r requirements.txt
# uv pip tree








# pip install -r requirements.txt - чисткая установка без зависимостей
# pip install -r requirements.txt --no-deps
# pip install aiohttp-socks --no-deps  # без флага потянет зависимости
# pip install telethon
# pip install pysocks
# sudo apt install postgresql-14-pgvector
# pip install kairos-asr[gpu]
# uv pip install kairos-asr[gpu]
# sudo apt-get update
# sudo apt-get install -y libsndfile1 ffmpeg
# pip install soundfile




## Установи pgvector из репозитория:

# # Добавить репозиторий PostgreSQL
# sudo apt install postgresql-common
# sudo /usr/share/postgresql-common/pgdg/apt.postgresql.org.sh

# # Установить pgvector
# sudo apt install postgresql-14-pgvector

# # Перезапустить PostgreSQL
# sudo systemctl restart postgresql

# Если порт занят..
# sudo systemctl stop postgresql